extends layout

block content
  h1 Elsugere1
  p#es1p Dette er en oversigt over elslugere der er hardcodet i pug filen
  a(href="/") Forside
  table 
    tr 
        th Id
        th Apparat 
        th Forbrug 
        th Forbrug pr. år i kwh ca.
    tr 
        td 1
        td Håndklædetørrer
        td Tændt døgnet rundt hele året
        td 1050
    tr
        td 2
        td Akvarie 400 liter
        td Inkl. lys, varme og pumpe
        td 1000
    tr
        td 3
        td Gamer PC
        td 4 timers spil i døgnet
        td 760
