extends layout

block content
  h1 Elslugere
  p#indexP Denne applikation giver en oversigt over elforbruget for forskellige apparater der er elslugere.
  a(href="/elslugere1") Elslugere1
  a(href="/elslugere2") Elslugere2
  a(href="/opretelsluger") Opret Elsluger
  a(href="/elpriser1") Elpriser1
  
