doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    footer 
    p Applikationen er udviklet af Emil på 3. semester på datamatikeruddannelsen på Erhvervsakademi Zealand Næstved.
    p kontaktoplysninger: tlf 12345678, email: emil51z8@edu.zealand.dk
